'''app config'''
app_secret_key=''

'''database config'''
db_username=''
db_password=''
db_server=''
db_name=''

'''admin data'''
emails=['list of emails']
usernames=['list of usernames']

'''email data'''
mail_username = 'your email'
mail_password = 'the password'
