<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <style>
    p.rtl {
      direction: rtl;
    }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
      <title>{{title}}</title>
    {% else %}
      <title>Qtalk!</title>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}">
    </script>
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <link href="{{ url_for('static', filename='css/emoji.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-steel">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="{{ url_for('home') }}">خانه</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('explore') }}">کاوش</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users') }}">کاربران</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('rules') }}">قوانین</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">درباره</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
      <button class="navbar-toggler" style="position: relative;left:10px" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>

      </button>
        <a class="navbar-brand mx-auto" href="#">
          <img src="{{ url_for('static', filename='logo/logo.png') }}" width="250" height="35" alt="">
        </a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}

          <li class="nav-item">
            <div class="row">
                  <a href="{{url_for('messages')}}" class="btn btn btn-danger" style="border-radius:30px"> {{current_user.new_direct()}} </a>
                <div class="col">
                  <a class="nav-link" href="{{ url_for('messages') }}">پیام ها</a>
                </div>
            </div>
          </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('account') }}">حساب کاربری</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('logout') }}"> خروج</a>
              </li>

          {% else %}

          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">ورود</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">ثبت نام</a>
          </li>
          {% endif %}

        </ul>
    </div>
</nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

<div class="modal fade" id="scoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">امتیازات</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-scores">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">خروج</button>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/tam-emoji.min.js') }}"></script>
  </body>
</html>
