{% extends "base.html" %}
{% block content %}
<div class="content-section">
  <legend class="border-bottom mb-4">ارسال پست جدید</legend>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <filfieldset class="form-group ">
            <div class="form-group">
                {% if form.content.errors %}
                {{ form.content(id="summernote", class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                    {{ form.content(id="summernote", class="form-control form-control-lg", rows="10") }}
                {% endif %}
            </div>
            <div class="form-group ">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    </form>
    </div>
{% endblock content%}
