{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<button type="button" class="fixedbutton btn" data-toggle="modal" title="ارسال نظر" data-target="#commentModal"><img src="{{url_for('static', filename='logo/add_btn.png')}}" width="65" height="65"></button>
{% endif %}
<div class="card" style="margin-top:30px;">
<div class="card-body">
<img class="rounded-circle article-img float-right" src="{{ url_for('static', filename='profile_pics/'+ post.author.image_file) }}">

<h5 class="card-title">

  <a class="mr-4 float-right" href="{{url_for('user', username=post.author.username)}}">{{ post.author.username }}</a>
</h5>
<h6 class="card-subtitle mb-2 text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</h6>
{% if post.author == current_user %}
    <div>
      <button type="button" onclick="myFunction()" class="btn btn-primary btn-sm m-1" data-toggle="modal" data-target="#editModal-{{ post.id }}">ویرایش</button>
      <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal-{{ post.id }}">حذف</button>
    </div>
  {% endif %}
<hr>
<p class="card-text article-content ">{{ post.content|safe  }}</p>
<hr style="margin-top:30px; ">
<small>{{post.author.status}}</small>
</div>
</div>
<br>
{% if post.comments %}
{% for comment in post.comments %}
<div class="card" style="margin:20px;">
<div class="card-body">
<img class="rounded-circle article-img float-right" src="{{ url_for('static', filename='profile_pics/'+ comment.sender.image_file) }}">

<h5 class="card-title">

  <a class="mr-4 float-right" href="{{url_for('user', username=comment.sender.username)}}">{{ comment.sender.username }}</a>
</h5>
<h6 class="card-subtitle mb-2 text-muted">{{ comment.date_commented.strftime('%Y-%m-%d') }}</h6>
<hr>
<p class="card-text article-content ">{{comment.content|safe}}</p>
</div>
</div>
{% endfor %}
{% endif %}
<div class="content-section">
  <legend class="border-bottom mb-4">ارسال نظر</legend>

  <form method="POST" action="{{ url_for('new_comment', post_id=post.id) }}">
      {{ form2.hidden_tag() }}
      <filfieldset class="form-group ">
          <div class="form-group">
              {% if form2.content.errors %}
              {{ form2.content(id="summernote", class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.content.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                </div>
              {% else %}
                  {{ form2.content(id="summernote", class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="modal-footer">
              {{ form2.submit(class="btn btn-outline-info") }}
          </div>
  </form>
    </div>
{% if post.author == current_user %}
<div class="modal fade" id="deleteModal-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">از پاک شدن پست اطمینان داری؟</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">خروج</button>
        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="حذف">
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="editModal-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ویرایش ارسال</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('update_post',post_id=post.id) }}">
          {{ form.hidden_tag() }}
          <filfieldset class="form-group ">
              <div class="form-group">
                  {% if form.content.errors %}
                  {{ form.content(id="summernote",class="form-control form-control-lg is-invalid", rows="12" ) }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                      {% set f = form.content.process_data(post.content) %}
                      {{ form.content(id="summernote",class="form-control form-control-lg", rows="12") }}
                  {% endif %}
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">انصراف</button>
                  {{ form.submit(class="btn btn-outline-info") }}
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ارسال نظر</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('new_comment', post_id=post.id) }}">
            {{ form2.hidden_tag() }}
            <filfieldset class="form-group ">
                <div class="form-group">
                    {% if form2.content.errors %}
                    {{ form2.content(id="summernote", class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form2.content.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                    {% else %}
                        {{ form2.content(id="summernote", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {{ form2.submit(class="btn btn-outline-info") }}
                </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
